*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #8EC5FC;
    background-image: linear-gradient(180deg, #8EC5FC 0%, #E0C3FC 100%);
    font-family: 'Roboto', sans-serif;

}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto 100vh;
}

.hero {
    padding: 1em;
    margin: 0.5em;
    border-radius: 10px;
    grid-column: 1 /3;
    background: rgba(245, 245, 245, 0.3);

}

.sidebar {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    background: rgba(245, 245, 245, 0.3);
    padding: 1em;
    margin: 0.5em;
    border-radius: 10px;
}

.gameboard__container {
    padding: 2em;
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
    gap: 1em;
    grid-column: 2 / 3;
    grid-row: 2 / 3;

}

.gameboard-tile {
    font-family: 'Varela Round', sans-serif;
    font-size: 100px;
    border-radius: 15px;
    background: rgb(249, 234, 66);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    display: flex;
    justify-content: center;
    align-items: center;

}

/* trying to use a svg #failing */
/* .test {
    height: 100px;
    width: 100px;
    background-color: yellow;
    background-image: url(./images/cross.svg);
} */